div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 vote
    p.lead a Basejump for freeCodeCamp
    //img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container(ng-show='showListing')
  .row
    .col-lg-12
      h1.page-header Polls:
      pollthump(ng-repeat='poll in polls')

.container(ng-show='showBallot')
  .row
    .col-sm-6.center
      h1.page-header Vote: {{poll.title}}
      h4{{poll.question}}
      form.form-horizontal(novalidate)
        table.table
          tr(ng-repeat='answer in poll.answers')
            td {{answer.text}}
            td.text-right
              input(type='radio' name='answers' ng-value='$index' ng-model='dummy.selected')
        .form-group
          .col-sm-offset-2.col-sm-10.text-right
            button.btn.btn-default(ng-click="switchToListing()") Cancel
            button.btn.btn-default(ng-click="submit()") Ok


.container(ng-show='showEdit')
  .row
    .col-lg-12
      h1.page-header Edit Poll:
      form.form-horizontal(novalidate)
        .form-group
          label.col-sm-2.control-lable(for='title') Title:
          .col-sm-10
            input.form-control(type='text' id='title' ng-model='poll.title')
        .form-group
          label.col-sm-2.control-lable(for='question') Question:
          .col-sm-10
            input.form-control(type='text' id='question' ng-model='poll.question')
        .form-group(ng-repeat='answer in poll.answers')
          label.col-sm-2.control-lable(for='answer') Answer {{letter($index)}}:
          .col-sm-10
            .input-group
              input.form-control(type='text' id='answer' ng-model='poll.answers[$index].text')
              span.input-group-btn
                button.btn.btn-default(type='button' ng-click='deleteAnswer($index)') -
                button.btn.btn-default(type='button' ng-click='addAnswer($index)') +
        .form-group
          .col-sm-offset-2.col-sm-10.text-right
            button.btn.btn-default(ng-click="switchToListing()") Cancel
            button.btn.btn-default(ng-click="submit()") Ok

    //
      h1 Ersatztext
      p This text is shown, when <var> showAll </var> is set to false.
      button(ng-click="toggleShowAll()") Show All

footer.footer
  .container
    p
      | vote © 2015 Jan Pilgenröder
    //
      | Angular Fullstack v2.1.1
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues