div.col-sm-6
  h3 {{poll.title}}: 
  h4 {{poll.question}}
  .chartContainer
    canvas.chart(width='200' height='200')
  table.table
    tr(ng-repeat='answer in poll.answers')
      td.td-letter {{letter($index)}}. 
      td {{answer.text}}
      td.text-right
        strong{{answer.amount}}
  div.text-center
    button.btn.btn-default.btn-xs(ng-click='vote(poll)' ng-disabled='!mayVote(poll)')
      span.glyphicon.glyphicon-ok
      |  Vote
    button.btn.btn-default.btn-xs(ng-click='editPoll(poll)' ng-disabled='!mayEdit(poll)')
      span.glyphicon.glyphicon-pencil
      |  Edit
    button.btn.btn-default.btn-xs(ng-click='deletePoll(poll)' ng-disabled='!mayEdit(poll)')
      span.glyphicon.glyphicon-trash
      |  Delete